@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", "Manrope", "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}
